@import "tailwindcss";

@font-face {
  font-family: "DIN-Next-W1G";
  src: url("../../public/fonts/dinnextw1g.otf") format("opentype");
}

@font-face {
  font-family: "Tungsten-bold";
  src: url("../../public/fonts/Tungsten-Bold.ttf") format("truetype");
}
/* That the font that i need to use */
@font-face {
  font-family: "Orbitron";
  src: url("../../public/fonts/orbitron-medium.woff") ;
}
@font-face {
  font-family: "VALORANT";
  src: url("../../public/fonts/Valorant Font.ttf") format("truetype");
}

/* :root {

    --primary: #0d1117;
    --secondary: #161b22;
    --accent: #58a6ff;
    --text: #e6edf3;
    --text-secondary: #8b949e;
    --success: #3fb950;
    --danger: #f85149;


} */
:root {
    --primary: #1a1a1a;
    --secondary: #2d2d30;
    --accent: #f39c12;
    --text: #ffffff;
    --text-secondary: #cccccc;
    --success: #27ae60;
    --danger: #e74c3c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron";
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
body {
    background-color: var(--secondary);
    color: var(--text);
    line-height: 1.6;
    letter-spacing: 1px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}